$color-accept-tomato: #e06733;
$color-title-tomato: #fe9013;
$color-primary-black: #010201;
$color-primary-grey: #717171;
$color-text--green: #499a18;
$color-link-header: #010201;
$color-head-yellow-light: rgb(241, 246, 199);
$background-body-light: #edf2ec;
$background-section-light-green: #d3f9cb;

$color-second-white: #fff;

$font-primary: "Roboto";
$font-accept: "Raleway", sans-serif;
